<table class="ui sortable striped table">
  <thead>
    <tr>
      <th class="no-sort">Company</th>
      <th class="no-sort right aligned">Last Price</th>
      <th class="no-sort right aligned">Change</th>
      <th class="right aligned">% Change</th>
      <th class="sorted descending right aligned">% Delivery</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vm of viewModels"
        app-symbol
        [ngClass]="{'positive': vm.change > 0, 'negative': vm.change < 0}"
        [vm]="vm">
    </tr>
  </tbody>
</table>